.maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .maintable ,tr,td,th,thead,tbody{
        border: 1px solid black;
        padding : 10px;
    }
    .btn{
        margin-left: 5px;
        margin-right: 5px;
    }
    .mainform{
        position: fixed;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px;
        width: 400px;
        top: 5px;
    }
    .submitform{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .close{
        top: 10px;
        right: 10px;
        position: absolute;
    }
    